<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgricultureApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CultureType">

        </activity>

        <activity android:name=".CerealsCulture">

        </activity>

    <activity android:name=".OilseedsCulture">

    </activity>

<activity android:name=".FodderCulture">

</activity>

        <activity android:name=".TechnicalCulture">

        </activity>

        <activity android:name=".VegetablesCulture">

        </activity>

        <activity android:name=".GourdsCulture">

        </activity>

        <activity android:name=".FruitCulture">

        </activity>

        <activity android:name=".BerryCulture">

        </activity>

        <activity android:name="ListItemCerealsCulture">

        </activity>
    </application>

</manifest>